.div-contain
    width 100%
    height 100%
    // position relative
    display flex
    justify-content center
    align-items center

.div-contain--content
    position relative
    // position absolute
    // display table
    // width auto
    // height auto