.parallax-layer
    position absolute
    top 0px
    left 0px
    right 0px
    // bottom 0px

    width 100%
    overflow hidden

    // height 100%
    // left 50%
    // top 30%
    // transform translate3d(0, 0, 0)

    img
        width 100%