.screen-height
  position: relative
  width 100%
  min-height 100vh
  height: 100px;
  //height 0px // should be set if we want height 100% in childen to be working



.topline-ria
    .screen-height
        min-height: calc(100vh - 40px)

.inline-ria
    .screen-height
        min-height: calc(100vh - 140px)