.show-hide
    animation-duration 1s
    animation-delay 0s
    animation-iteration-count 1
    animation-direction normal
    animation-timing-function ease-out
    animation-fill-mode both

    pointer-events none

    // opacity 0
    visibility hidden

    width 100%
    height 100%

.show-hide > *
    pointer-events initial

        