.video-frame
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    overflow hidden

.video-frame.mode-background
    video
        object-fit cover
        width: 100%;
        height: 100%;

.browser-ie
    .video-frame.mode-background
        video
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);

