 // position relative

// .vistracker--wrap

.vistracker
    position relative

.vistracker-inject
.vistracker--core
    position absolute
    left 0px
    top 0px
    height 100%
    width 100%
    pointer-events none
.vistracker--wrap
    position relative
    height 100%
    pointer-events none
