<div ref:node class="{ calcClassname }" style="{ style }">
    <slot/>
</div>

<script>

    import { register } from '@ips/app/app-registry'

    export default {
        // tag: "column",
        props:[
            "class", "style", "name"
        ],
        oncreate(){
            // trace('cdiv created', this)
            if(this.get().name)
                register(this.get().name, this)
        },
        computed:{
            calcClassname:(state)=> state.class||''
        },
        methods:{
        },
        components:{

        }
    }

</script>