ScreenLarge = 1600px
ScreenRegular = 1280px
ScreenSmall = 1024px
ScreenMobile = 768px

BlockSizeL = 104px
BlockSizeR = 80px
BlockSizeS = 64px

// .column
//     display inline-block
//     flex-shrink 0
//     flex-grow 0

//     for n in (0..12)
//         &.{'width'+n}
//             width BlockSizeL*n

//     for n in (0..12)
//         &.{'left'+n}
//             margin-left BlockSizeL*n

//     @media screen and (max-width: ScreenRegular)
//         for n in (0..12)
//             &.{'width'+n}
//                 width BlockSizeR*n

//         for n in (0..12)
//             &.{'left'+n}
//                 margin-left BlockSizeR*n

//     @media screen and (max-width: ScreenSmall)
//         for n in (0..12)
//             &.{'width'+n}
//                 width BlockSizeS*n

//         for n in (0..12)
//             &.{'left'+n}
//                 margin-left BlockSizeS*n

//     @media screen and (max-width: ScreenMobile)
//         for n in (0..12)
//             &.{'width'+n}
//                 width 100%

//         for n in (0..12)
//             &.{'left'+n}
//                 margin-left 0px


.column
    display inline-block
    flex-shrink 0
    flex-grow 0
    max-width 100vw

    for n in (0..12)
        &.{'width'+n}
            width BlockSizeR*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeR*n


.screen-size-large
  .column
    for n in (0..12)
        &.{'width'+n}
            width BlockSizeL*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeL*n

.screen-size-regular
  .column
    for n in (0..12)
        &.{'width'+n}
            width BlockSizeR*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeR*n

.screen-size-small
  .column
    for n in (0..12)
        &.{'width'+n}
            width BlockSizeS*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeS*n

.screen-size-mobile
  .column
    //for n in (0..12)
    //    &.{'width'+n}
    //        max-width 100vw

    for n in (0..12)
        &.{'left'+n}
            margin-left 0px
