<div class="{ fullClassname }" style="{ addstyle }">
    <slot/>
</div>

<script>

    import "components/column.styl"

    export default {
        // tag: "column",
        props:[
            "mod", "classname", "addstyle", "width", "left"
        ],
        data(){
            return {
                mod: ""
            }
        },
        oncreate(){
            // trace('column', this)
        },
        computed:{
            smod:({ mod })=> (mod ? mod.split(' ') : []),
            fullClassname:({ smod, classname, width, left })=> `column ${ classname||'' } ${ _.map(smod, s => ` column_${ s }`).join(' ') } ${ width ? ` width${ width }`:'' } ${ left ? ` left${ left }`:'' }`,
        },
        methods:{
        },
        components:{

        }
    }

</script>