<div class="{ fullClassName }" style="{ addstyle||'' }">
    <slot/>
</div>

<style lang="stylus">

</style>

<script>

    import 'components/fixed.styl'
    import { Store } from 'svelte/store.js';

    const store = new Store({ name: 'fixedspace' })

    export default {
        store: () => store,
        props:['classname', 'addstyle'],
        computed:{
            fullClassName: ({ classname })=> `fixed ${ classname || '' }`
        }
    }

</script>