.lightbox
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity 0
    transition opacity .3s
    will-change opacity
    //pointer-events none
    //.lightbox__content
    //    pointer-events auto

// .lightbox__content
//     pointer-events none
//     > *
//         pointer-events auto

.lightbox.active
    opacity 1

.lightbox.fading
    opacity 0
