{ #if evalCondition }
    <slot/>
{ /if }

<style lang="stylus">
</style>

<script>

    export default {
        // tag: "optional",
        props:[
            "cond",
            "override"
        ],
        computed:{
            evalCondition({ cond, override }){
                //if( override !== null )
                //    return override;
                return eval(cond);
            },
        },
        methods:{
        },
        components:{
        }
    }

</script>