<!-- this binds `sy` to the current value of `window.scrollY` -->
<svelte:window on:scroll='onScroll()'/>

<div class='parallax-container'>
    { #each layers as l }
        <div class={ l.class||'' } style={ layerTransform(sy, l) }><img src={ l.img }/></div>
    { /each }
    <div ref:kids style="display:none;">
        <slot/>
    </div>
</div>

<!-- <div class='text'>
    <small style='
        transform: translate(0,{{-sy * 1.5}}px);
        opacity: {{1 - Math.max( 0, sy / 80 )}}
    '>(scroll down)</small>
    <span>parallax has never been this easy</span>
</div>
 -->

<style lang='stylus'>

</style>

<script type="text/javascript">

    import 'components/parallax.styl'

    import { windowSize, windowScrollY } from '@ips/app/dom-utils'
    const WidthMobile = 768

    export default {
        oncreate(){
            trace('para', this)
            this.set({ layers: _.map(this.refs.kids.children, c => ({ img:c.src, s:c.getAttribute('s'), y:c.getAttribute('y') }) ) })
            // this.refs.kids.innerHTML = ''
        },
        data(){
            return {
                //sy: window.scrollY||window.pageYOffset
                layers:[]
            }
        },
        // computed:{
        //  syie:(sy)=>{ return window.scrollY||window.pageYOffset }
        // },
        helpers:{

            layerTransform: (windowSize().x > WidthMobile ? (sy, l)=>{
                // console.log('layerTransform', sy, window.pageYOffset)
                const t = -sy * l.s - l.y
                return `transform: translate(0px,${ t }px); -ms-transform: translate(0px,${ t }px);`
            }:
            (sy, l)=>{
                // console.log('layerTransform', sy, window.pageYOffset)
                const t = -sy * l.s
                return `transform: translate(0px,${ t }px); -ms-transform: translate(0px,${ t }px);`
            })
        },
        methods:{
            onScroll:function(p){
                // console.log('onScroll', this, p)
                this.set({ sy:windowScrollY() })
            }
        },
        components:{
        }
    }
</script>
