    /*@require './settings'*/

    .parallax-container
        position: fixed;
        /*        width: 100vw//2400px;
                height: 100vh//712px;
        */      
        width: 100%
        height: 100%
        left: 50%;
        transform: translate(-50%,0);

    .parallax-container > *
        position: absolute;
        top: 0;
        left: 0;
        width 100%
        height 100%
        will-change: transform;

    .parallax-container img
        width: 100%;

    .water-back
        img
            display block

        &:after
            content ''
            /*position absolute*/
            display block
            /*top 1000px*/
            height 1000px
            width 100%
            background-image: linear-gradient(to bottom, #0d8190, #022133);

    @media screen and (max-width: 768) and (orientation: portrait)
        .parallax-container > *
            height 100%

        .parallax-container img
            height 100%
            width: auto
