<div ref:node style="display:none;">
    <slot/>
</div>

<style lang="stylus">
</style>

<script>

    import { register } from 'app/app-registry'

    export default {
        props:['name', 'text'],
        oncreate(){
            const text = (this.get().text||'').replace(/\\n/g, '\n')

            trace('pojo', this)

            try{
                var res = eval(`(${ text })`)
            }catch(err){
                error(err)
            }

            // this.set({ data:res })
            
            if(this.get().name)
                register(this.get().name, res)
        }
    }

</script>
