<div class='revealing-text-demo--sample'>
    <div class='info'>{ typeof(s.anim) == 'string' ? s.anim : 'fn' } { s.split } { s.showTime } { s.animTime }</div>
    <RevealingText ref:self class={ s.class } anim={ s.anim } split={ s.split } showTime={ s.showTime } animTime={ s.animTime } text={ text }/>
    <!-- <Button on:click="self.fire('replay')"/> -->
    <button on:click="refs.self.fire('replay')">Replay</button>
</div>

<script type="text/javascript">
    import RevealingText from 'components/revealing-text'
    // import Button from 'components/svelte-ui-button'

    export default {
        props:['s', 'text'],
        data(){
            return {
                text:'',
                s:{}
            }
        },
        components:{
            RevealingText,
            // Button
        },
    }
</script>

<style lang="stylus">
.revealing-text-demo--sample 
    position relative

    button
        position absolute
        right 0px
        top 0px
        visibility hidden
    &:hover
        button 
            visibility visible
</style>