<ScrollTracker ref:tracker throttle=0 classname="{{ fullClassname }}">
    <slot/>
</ScrollTracker>

<style lang="stylus">
</style>

<script>
    import ScrollTracker from "components/scroll-tracker"

    export default {
        // tag: "scroll-speed",
        props:["speed","fixed","classname"],
        data(){
            return {
            }
        },
        oncreate(){
            trace('sspeed', this)
            const tracker = this.refs.tracker;
            const content = tracker.refs.node

            const v = - ( (_.isNumber(this.get().speed)?this.get().speed : 1) - 1. );

            tracker.on('update', ({ ofs })=>{
                // trace('sspeed update', ofs, `translateY(${ (ofs*v)|0 }px)`)
                content.style.transform = `translateY(${ (ofs*v)|0 }px)`
            })
        },
        computed:{
            fullClassname:({ classname })=> ("scroll-speed " + classname)
        },
        methods:{
        },
        components:{
            ScrollTracker
        }
    }


</script>