<div class="{ containerClassname }" style={ `${ height ? ("height:" + height) : ''}` }>
    <slot/>
</div>

<style lang="stylus">

</style>

<script>

  import 'components/slice.styl'

    export default {
        // tag: "slice",
        props:[
            "height",
        ],
        data(){
            return {
            }
        },
        computed:{
            containerClassname: ({ width, align, height })=> `slice__sec ${ 'width' + (width||12) } ${ align ? 'align-' + align : 'align-center' }${ height ? ' table':'' }`,
        },
        methods:{
        },
        components:{

        }
    }


</script>