<div class="spacer" style="{ calcStyle }"></div>

<script>

    export default {
        // tag: "column",
        props:[
            "height"
        ],
        computed:{
            calcStyle:({ height })=> `${ height ? `height:${ height }`: '' }`,
        },
        methods:{
        },
        components:{

        }
    }

</script>