<div ref:self class="{ classname }">
    <div class="swiper-button-prev swiper-button-white"/>
    <div class="swiper-button-next swiper-button-white"/>
    <div class="swiper-container" ref:swcon>
        <div class="swiper-wrapper">
            <slot/>
        </div>
    </div>
</div>

<style lang="stylus">

</style>

<script>

    import 'components/swiper.styl'
    
    import 'swiper/dist/css/swiper.css'
    import Swiper from 'swiper'

    export default {
        // tag: "swiper",
        props:[
            "mod",
            "loop"
        ],
        data(){
            return {
                mod: "",
                loop: true,
            }
        },
        oncreate(){
            this.updateInstance()
        },
        computed:{
            classname({ mod }) { var c = "swiper"; if(mod) c += mod.split(' ').map(s => ` swiper_${ s }`).join(' '); return c; },
        },
        methods:{
            updateInstance(){

                console.log('updateInstance', this);

                if(this.swiper){
                    this.swiper.destroy();
                    this.swiper = null;
                }

                if(this.refs.swcon){
                    this.swiper = new Swiper(this.refs.swcon, {
                        loop: this.loop,
                        uniqueNavElements: true,
                        navigation: {
                            nextEl: this.refs.self.querySelector('.swiper-button-next'),
                            prevEl: this.refs.self.querySelector('.swiper-button-prev'),
                            // pagination: '.swiper-pagination',
                        },
                    })
                    //console.log('made new swiper', this.swiper);
                }
            },
        },
        components:{
        }
    }


</script>