<div class="unroll">
    { #if unrolled }
        <slot/>
    { :else }
        <div on:click="set({ unrolled: true })">{ @html title }</div>
    { /if }
</div>

<script>
    import 'components/unroll.styl'
    
    export default{
        props:['title', 'unrolled'],
        data:()=>({
            unrolled:false
        }),
        components:{
        }
    }
</script>