
.videon
    position relative
    font-size 0px
    width 100%
    height 100%

    .video-js
        position absolute
        top 0px
        width 100%
        height 100%

        video
            object-fit cover
