<div class="vistracker">
    <slot/>
    <Inject name={ name } top={ top } bottom={ bottom }/>
</div>

<script>
    import Inject from 'components/vistracker-inject'

    export default{
        props:['name', 'top', 'bottom'],
        components:{
            Inject
        }
    }
</script>