<div class="wrapper { classname }">
    <div class="wrapper__container">
        <slot/>
    </div> 
</div>

<style lang="stylus">




</style>

<script>

    import 'components/wrapper.styl'

    export default {
        // tag: "wrapper",
        props:[
            "classname"
        ],
        data(){
            return {
                classname: ""
            }
        },
        methods:{
        },
        components:{
        }
    }


</script>