.ria_topline {
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  background: #fff;
}

.ria_topline__black {
  background: #000;
}

.ria_topline__transparent {
  background-color: transparent;
}

.ria_topline__black .ria_topline_logo svg path {
  fill: #fff;
}

.ria_topline__black .ria_topline_soc .ria_topline_soc_item:hover path {
  fill: #fff;
}

.ria_topline__grad {
  background-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 45%,  rgba(255,255,255,.75) 100%);
  background-color: transparent;
}

.ria_topline__grad.ria_topline__black {
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%,  rgba(0,0,0,.7) 100%);
  background-color: transparent;
}

.ria_topline__fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.ria_topline__absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.ria_topline_logo {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -12px;
}

.ria_topline_soc {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 0;
}

.ria_topline_soc svg path {
  fill: #ADADAD;
}

.ria_topline_soc .ria_topline_soc_item {
  display: inline-block;
  cursor: pointer;
}

.ria_topline_soc .ria_topline_soc_item path {
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ria_topline_soc .ria_topline_soc_item:hover path {
  fill: #1345AE;
}
