
@font-face {
    font-family: "Open Sans";
    src: url('https://cdn1.img.ria.ru/css/fonts/opensans/opensans-regular-webfont.eot');
    src: url('https://cdn1.img.ria.ru/css/fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://cdn1.img.ria.ru/css/fonts/opensans/opensans-regular-webfont.woff2') format('woff2'), url('https://cdn1.img.ria.ru/css/fonts/opensans/opensans-regular-webfont.woff') format('woff'), url('https://cdn1.img.ria.ru/css/fonts/opensans/opensans-regular-webfont.ttf') format('truetype'), url('https://cdn1.img.ria.ru/css/fonts/opensans/opensans-regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Ria Icons";
    src: url("https://cdn1.img.ria.ru/css/fonts/ria_icons/ria_icons.eot?000004");
    src: url("https://cdn1.img.ria.ru/css/fonts/ria_icons/ria_icons.eot?000004#iefix") format("embedded-opentype"), url("https://cdn1.img.ria.ru/css/fonts/ria_icons/ria_icons.woff2?000004") format("woff2"), url("https://cdn1.img.ria.ru/css/fonts/ria_icons/ria_icons.woff?000004") format("woff"), url("https://cdn1.img.ria.ru/css/fonts/ria_icons/ria_icons.ttf?000004") format("truetype"), url("https://cdn1.img.ria.ru/css/fonts/ria_icons/ria_icons.svg?000004#ria_icons") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="ria_icons_"],
[class*=" ria_icons_"] {
    font-family: 'Ria Icons' !important;
    speak: none;
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.b-top-bar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

.b-top-bar-fixed .b-top-bar .b-top-bar__home {
    padding-right: 1em
}

.b-top-bar-fixed .b-top-bar .b-top-bar__home span {
    width: 7.25em;
    padding: 0
}

.b-top-bar-fixed .b-top-bar .b-top-bar__wr-user-panel {
    text-align: center
}

.b-top-bar-fixed .b-top-bar .b-top-bar__login {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 0
}

.b-top-bar-fixed .b-top-bar .b-top-bar__projects_list {
    float: left;
    margin: 0;
}


.b-top-bar {
    background: #000;
    color: #fff;
    position: relative;
    padding: .313em 0;
    z-index: 24;
    *zoom: 1
}

.b-top-bar:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

.b-top-bar a {
    color: #fff
}

.b-top-bar .b-top-bar__home {
    float: left;
    display: block;
    padding: 0 .5em 0 1.063em;
    position: relative
}

.b-top-bar .b-top-bar__home span {
    width: 6.25em;
    display: block;
    padding: .313em 0;
}

.b-top-bar .b-top-bar__home span img {
    display: block;
    width: 100%
}

.b-top-bar .b-top-bar__login {
    float: right;
    display: block;
    width: 1.688em;
    height: 1.688em;
    margin-right: .75em;
    position: relative;
    cursor: pointer;
    overflow: hidden
}

.b-top-bar .b-top-bar__login span {
    width: 1.75em;
    height: 1.75em;
    margin: -0.875em 0 0 -0.875em;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-family: 'Ria Icons' !important;
    speak: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.b-top-bar .b-top-bar__login span:before {
    font-size: 1.75em;
    content: "\e097";
    color: #7c7c7c
}

.b-top-bar .b-top-bar__login:hover {
    text-decoration: none
}

.b-top-bar .b-top-bar__region {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 0 .75em 0 .57em
}

.b-top-bar .b-top-bar__current-region {
    color: #62a7d9;
    display: inline-block;
    vertical-align: top;
    padding: 0 .5em .19em;
    position: relative
}

.b-top-bar .b-top-bar__current-region span {
    font-size: .69em;
    font-weight: 600
}

.b-top-bar .b-top-bar__change-region-button {
    color: #62a7d9;
    display: inline-block;
    vertical-align: top;
    width: 1.5em;
    height: 1.688em;
    position: relative;
    cursor: pointer;
    overflow: hidden
}

.b-top-bar .b-top-bar__change-region-button span {
    width: 1.75em;
    height: 1.75em;
    margin: -0.875em 0 0 -0.875em;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-family: 'Ria Icons' !important;
    speak: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.b-top-bar .b-top-bar__change-region-button span:before {
    font-size: 1.75em;
    content: "\e077";
    color: #62a7d9
}

.b-top-bar .b-top-bar__change-region-button:hover {
    text-decoration: none
}

.b-top-bar .b-top-bar__projects_list {
    overflow: hidden;
    display: block;
    text-align: center;
    position: relative
}

.b-top-bar .b-top-bar__projects_list li {
    display: inline-block;
    border-left: 1px solid #3e3e3e
}

.b-top-bar .b-top-bar__projects_list li a {
    padding: 0 1em .19em;
    display: block;
    text-decoration: none;
}
.b-top-bar .b-top-bar__projects_list li a:hover {
    text-decoration: underline;
}

.b-top-bar .b-top-bar__projects_list li a span {
    font-size: .69em;
    font-family: 'Open Sans';
    font-weight: 600
}

.b-top-bar .b-top-bar__projects_list li:first-child {
    border: 0
}

.b-top-bar .b-top-bar__social {
    overflow: hidden;
    text-align: center;
    display: none
}

.b-top-bar .b-top-bar__social a {
    display: inline-block;
    vertical-align: top;
    width: 1.563em;
    height: 1.563em;
    padding: .063em;
    margin: 0 .375em;
    overflow: hidden;
    position: relative
}

.b-top-bar .b-top-bar__social a span {
    display: block;
    width: 1.75em;
    height: 1.75em;
    font-family: 'Ria Icons';
    speak: none;
    margin: -0.875em 0 0 -0.875em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.b-top-bar .b-top-bar__social a span:before {
    font-size: 1.75em;
    color: #62a7d9
}

.b-top-bar .b-top-bar__social a.b-top-bar__social-fb span:before {
    content: "\e004"
}

.b-top-bar .b-top-bar__social a.b-top-bar__social-vk span:before {
    content: "\e018"
}

.b-top-bar .b-top-bar__social a.b-top-bar__social-tw span:before {
    content: "\e016"
}

.b-top-bar .b-top-bar__social a.b-top-bar__social-ig span:before {
    content: "\e007"
}

.b-top-bar .b-top-bar__social a.b-top-bar__social-ok span:before {
    content: "\e010"
}

.b-top-bar .b-top-bar__social a:hover {
    text-decoration: none
}

.mode-adaptive .b-top-bar .b-top-bar__region {
    display: none
}

.mode-adaptive .b-top-bar .b-top-bar__projects_list {
    display: none
}

.mode-adaptive .b-top-bar .b-top-bar__social {
    display: block
}

.mode-adaptive .b-top-bar .b-top-bar__social a {
    margin: 0
}

@media screen and (min-width:25em) {
    .mode-adaptive .b-top-bar .b-top-bar__social a {
        margin: 0 .375em
    }
}

@media screen and (min-width:64em) {
    .mode-adaptive .b-top-bar .b-top-bar__region {
        display: block;
        float: left;
        margin: 0 .75em 0 .57em
    }
    .mode-adaptive .b-top-bar .b-top-bar__projects_list {
        display: block
    }
    .mode-adaptive .b-top-bar .b-top-bar__social {
        display: none
    }
}

.l-page-width {
    margin: 0 auto;
    display: block;
    width: 100%;
    position: relative;
    *zoom: 1
}

.l-page-width:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}



.b-top-bar__share {
    float: right;
    margin-right: 1.063em;
    position: relative
}

.b-top-bar__share .b-top-bar__share-expand {
    display: none;
    width: 1.688em;
    height: 1.688em;
    cursor: pointer;
    position: relative;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.b-top-bar__share .b-top-bar__share-expand i {
    display: block;
    width: 1.75em;
    height: 1.75em;
    font-family: 'Ria Icons';
    speak: none;
    margin: -0.875em 0 0 -0.875em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.b-top-bar__share .b-top-bar__share-expand i:before {
    font-size: 1.75em;
    color: #62a7d9;
    content: "\e026"
}

.b-top-bar__share .b-top-bar__share-expand:hover {
    text-decoration: none
}

.b-top-bar__share .b-social-likes {
    position: relative;
    padding-left: 1px;
    text-align: center;
    display: block
}

.b-top-bar__share .b-social-likes .b-social-likes__widget {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    color: #fff;
    width: 2.25em;
    height: 1.688em;
    line-height: 1.4;
    cursor: pointer
}

.b-top-bar__share .b-social-likes .b-social-likes__widget .b-social-likes__icon {
    display: block;
    width: 1.75em;
    height: 1.75em;
    font-family: 'Ria Icons';
    speak: none;
    margin: -0.875em 0 0 -0.875em;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.b-top-bar__share .b-social-likes .b-social-likes__widget .b-social-likes__icon:before {
    font-size: 1.75em;
    color: #fff
}

.b-top-bar__share .b-social-likes .b-social-likes__widget .b-social-likes__counter {
    display: none
}

.b-top-bar__share .b-social-likes .b-social-likes__widget .b-social-likes__counter.b-social-likes__counter_empty {
    display: none
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_facebook .b-social-likes__icon:before {
    content: "\e004"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_fbmessenger .b-social-likes__icon:before {
    content: "\e005"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_twitter .b-social-likes__icon:before {
    content: "\e016"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_vkontakte .b-social-likes__icon:before {
    content: "\e018"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_mailru .b-social-likes__icon:before {
    content: "\e009"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_odnoklassniki .b-social-likes__icon:before {
    content: "\e010"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_plusone .b-social-likes__icon:before {
    content: "\e006"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_pinterest .b-social-likes__icon:before {
    content: "\e011"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_viber .b-social-likes__icon:before {
    content: "\e017"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_whatsapp .b-social-likes__icon:before {
    content: "\e019"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_telegram .b-social-likes__icon:before {
    content: "\e014"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_sms .b-social-likes__icon:before {
    content: "\e012"
}

.b-top-bar__share .b-social-likes .b-social-likes__widget.b-social-likes__widget_flipboard .b-social-likes__icon:before {
    content: "\e021"
}

.mode-adaptive .b-top-bar__share .b-top-bar__share-expand {
    display: block
}

.mode-adaptive .b-top-bar__share .b-tob-bar__share-list {
    display: none;
    position: absolute;
    top: 2em;
    right: -1.063em;
    background: rgba(0, 0, 0, 0.5)
}

.mode-adaptive .b-top-bar__share.m-open .b-tob-bar__share-list {
    display: block;
    z-index: 500
}

.mode-adaptive .b-top-bar__share .b-social-likes .b-social-likes__widget {
    width: 3.75em;
    height: 2.688em
}










@media screen and (min-width:64em) {
    .mode-adaptive .b-top-bar__share .b-top-bar__share-expand {
        display: none
    }
    .mode-adaptive .b-top-bar__share .b-tob-bar__share-list {
        display: block;
        position: relative;
        top: auto;
        right: auto;
        background: 0
    }
    .mode-adaptive .b-top-bar__share.m-open .b-tob-bar__share-list {
        display: block
    }
    .mode-adaptive .b-top-bar__share .b-social-likes .b-social-likes__widget {
        width: 2.25em;
        height: 1.688em
    }
}

.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__home {
  display: inline-block;
  white-space: nowrap;
}
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__home,
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__projects_list,
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__share,
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__wr-user-panel {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__projects_list {
  margin: 7px;
}
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__wr-user-panel {
  padding: 5px 0;
}
.page_visual_black .l-wr-page .b-top-bar-visual .b-top-bar__share {
  padding: 4px 0;
}



.page_visual_black .l-modal {
  display: none;
}
.page_visual_black .l-wr-page #smartbanner {
  display: none;
}



@media (max-width:1000px) {
  .l-wr-page .b-top-bar-visual .l-page-width {
    width: 100%;
  }
  .l-wr-page .b-top-bar-visual .l-page-width .b-top-bar__projects_list {
    display: none;
  }
}


/* b-top-bar__projects_list */
