<div ref:slider class="sf-slider">
  <div ref:range class="sf-slider__range" style="width: { value ? value : 0 }%"></div>
  <span 
    class="sf-slider__handle" 
    style="left: { value ? value : 0 }%" 
    on:mousedown="onButtonDown(event)"
    on:mouseup="onDragEnd(event)"
  >
  </span>
</div>

<script>
  export default {
    props:['value'],
    data () {
      return {
        width: 0,
        offset: 0,
        dragging: false
      }
    },
    methods: {
      onButtonDown (event) {
        this.onDragStart(event)
        window.addEventListener('mousemove', this.onDragging.bind(this))
        window.addEventListener('mouseup', this.onDragEnd.bind(this))
        window.addEventListener('contextmenu', this.onDragEnd.bind(this))
      },

      onDragStart (event) {
        const slider = this.refs.slider
        const range = this.refs.range

        this.set({
          width: slider.clientWidth,
          offset: event.clientX - range.clientWidth,
          dragging: true
        })
      },

      onDragging (event) {
        if (this.get().dragging) {
          const clientX = event.clientX
          const width = this.get().width
          const offset = this.get().offset

          const newRange = event.clientX - offset
          let newValue = newRange / width * 100
          if (newValue > 100) newValue = 100
          if (newValue < 0) newValue = 0

          this.set({ value: newValue })

          this.fire('input', newValue)
        }
      },

      onDragEnd () {
        if (this.get().dragging) {
          this.set({ dragging: false })
          window.removeEventListener('mousemove', this.onDragging)
          window.removeEventListener('mouseup', this.onDragEnd)
          window.removeEventListener('contextmenu', this.onDragEnd)

          // this.onchange()
          this.fire('change', this.get().value)
        }
      }
    }
  }
</script>