.deepegg
    width 100%
    height 100vh
    font-size 0px
    background-color black
    position relative

    perspective 30px
    transform translate3d(0px,0px,0px)

    canvas
        position absolute
        left 0px
        top 0px
        width 500px
        height 500px

    .stage
        transform translate3d(0px,0px,0px)
        transform-style: preserve-3d

    .lcans
        transform: translate3d(-500px,-250px,0px)
        transform-style: preserve-3d
    .rcans
        transform: translate3d(0px,-250px,0px)
        transform-style: preserve-3d


// .deepegg canvas
//     width 100%
//     height 100%
