.ips-wi
  width 100%
  min-height 600px
  position relative
  border 1px solid #ddd
  font-family 'Montserrat', sans-serif
  background-size cover
  background-position center
  color #fff
  .ips-wi-bg
    content ''
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 47.62%, rgba(0, 0, 0, 0.6) 100%)
    z-index 0
  // .ips-wiafter
  //   content ''
  //   width 100%
  //   height 100%
  //   position absolute
  //   top 0 left 0
  //   background linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 47.62%, rgba(0, 0, 0, 0.6) 100%)
  //   z-index 0
  .ips-wi-body
    position absolute
    top 0
    left 50%
    transform: translateX(-50%)
    text-align left
    // padding 430px 80px 40px 80px
    padding 325px 20px 40px 20px
    max-width 600px
    width 100%
    z-index 1
    text-align: center
    .ips-wi-title
      // max-width 600px
      width 100%
      font-style normal
      font-weight bold
      line-height normal
      font-size 36px
      // line-height 70px
      // font-size 60px
      margin-bottom 20px
    .ips-wi-stitle
      // max-width 480px
      width 100%
      font-style normal
      font-weight 500
      line-height normal
      font-size 16px
      // line-height 30px
      // font-size 24px
      margin-bottom 85px
    .ips-wi-cta-w
      width 100%
      text-align center
      .ips-wi-cta
        max-width 236px
        font-style normal
        font-weight bold
        line-height 20px
        font-size 16px
        border 2px solid #ddd
        box-sizing border-box
        border-radius 6px
        z-index 1
        cursor pointer
        text-align center
        /* padding 17px 23px */
        padding 23px 23px
        background rgba(0, 0, 0, 0)
        transition .3s
        margin 0 auto
        /* border 1px solid green */
        &:hover
          background rgba(0, 0, 0, 0.3)
        .ips-wi-cta-text
          position relative
          display inline-block
          padding-right 43px
        .ips-wi-cta-arrow
          position absolute
          top -2px
          right 0

.ips-wi-v2
  .ips-wi
    .ips-wi-body
      text-align: left
      .ips-wi-title
        max-width 600px
      .ips-wi-stitle
        max-width 480px


@media screen and (max-width: 900px)
  .ips-wi .ips-wi-body
    padding 430px 40px 40px 40px

@media screen and (max-width: 1000px)
  .ips-wi
    text-align: left
    min-height calc(100vw / 2)
    .ips-wi-body
      max-width: none
      position: static
      transform: none
      text-align: left
      padding-top 300px
      .ips-wi-title
        max-width 600px
        font-size 24px
        line-height normal
      .ips-wi-stitle
        max-width 480px
        font-size 16px
        line-height 22px
      .ips-wi-cta-w
        .ips-wi-cta
          margin 0
          padding 14px 23px

  // .ips-wi .ips-wi-body .ips-wi-cta-w .ips-wi-cta
  //   margin 0

div
  border 1px solid rgba(#ddd, 0.5)
