.ips-wi *
  box-sizing: border-box

.ips-wi
  width 100%
  height 100%
  // min-height 600px
  min-height 100%
  position relative
  // border 1px solid #ddd
  font-family: "Montserrat", Arial, sans-serif;
  background-size cover
  background-position center
  background-color #444
  color #fff
  .ips-wi-bg
    content ''
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 47.62%, rgba(0, 0, 0, 0.6) 100%)
    z-index 0
  a.ips-wi-link
    display inline-block
    text-decoration none
    position relative
    z-index 1
    // border 1px solid red
    width 100%
    height 100%
    // position absolute
    // top 0
    // right 0
    // bottom 0
    // left 0
    color #fff
    &:hover
      .ips-wi-cta
        background rgba(0, 0, 0, 0.3)
    .ips-wi-body
      display block
      position absolute
      // right 0
      bottom 0
      left 0
      color white
      padding 100px 20px 20px 20px
      text-align left
      .ips-wi-title
        font-size 24px
        line-height 29px
        font-weight bold
        display block
        text-align left
      .ips-wi-stitle
        font-size 16px
        line-height 22px
        margin: 10px 0 15px 0
      .ips-wi-cta
        display: inline-block
        transition: .5s
        margin-top 10px
        .ips-wi-cta-text-w
          // border 1px solid #fff
          // border-radius 3px
          // padding 14px 54px 14px 23px
          .ips-wi-cta-text
            display block
            float left
            padding 7px 5px
            min-width 125px
            height auto
            border 0
            border-radius 3px
            white-space nowrap
            text-align center
            font-size 13px
            line-height 16px
            font-weight 600
            text-overflow ellipsis
            cursor: pointer;
            background: #fff;
            color: #000;
            // position relative
            // display inline-block
            // .ips-wi-cta-arrow
            //   position: absolute
            //   position absolute
            //   top -4px
            //   right -37px

centerd_text()
  a.ips-wi-link
    .ips-wi-body
      width 100%
      padding-bottom 55px
      .ips-wi-title
      .ips-wi-stitle
      .ips-wi-cta-w
        text-align: center
      .ips-wi-title
        font-size 36px
        line-height 44px
        max-width 825px
        margin 0 auto
      .ips-wi-stitle
        font-size 16px
        line-height 22px
        max-width 715px
        margin 10px auto 10px auto

// .mod-shape-6x1, .mod-shape-6x2, .mod-shape-4x2
//   .ips-wi
//     centerd_text()

.mod-shape-3x1
  .ips-wi
    .ips-wi-link
      .ips-wi-body
        max-width 325px
        width 100%

.mod-shape-3x2
  .ips-wi
    .ips-wi-link
      .ips-wi-body
        max-width 460px
        width 100%

.mod-shape-4x1, .mod-shape-4x2, .mod-shape-6x1, .mod-shape-6x2
  .ips-wi
    .ips-wi-link
      .ips-wi-body
        max-width 560px
        width 100%
        left 50%
        margin-left -280px
        text-align: center
        .ips-wi-title
          font-size 36px
          line-height: normal
          text-align: center
        .ips-wi-stitle
          margin: 10px 0 30px 0
        .ips-wi-cta-w .ips-wi-cta .ips-wi-cta-text-w .ips-wi-cta-text
          padding 12px 60px

.mod-shape-4x2
  .ips-wi
    .ips-wi-link
      .ips-wi-body
        .ips-wi-stitle
          margin: 10px 0 30px 0;

.ips-wi-inject
  height 66vw
  max-height 600px
  a.ips-wi-link
    .ips-wi-body
      text-align: center
      left 50%
      transform: translateX(-50%)
      padding: 100px 20px 35px 20px
      @media only screen and (max-width: 925px)
        width 100%
      .ips-wi-title
        font-size: 48px
        line-height: normal
        text-align: center
        @media only screen and (max-width: 925px)
          font-size: 28px
      .ips-wi-stitle
        font-size: 22px
        line-height: normal
        margin: 15px 0 50px 0
        @media only screen and (max-width: 925px)
          font-size: 16px
          margin: 15px 0 15px 0
      .ips-wi-cta-w .ips-wi-cta .ips-wi-cta-text-w .ips-wi-cta-text
        padding 12px 60px
        @media only screen and (max-width: 925px)
          padding: 10px 50px
      .ips-wi-cta:hover .ips-wi-cta-text
        color #0075FF


@media only screen and (max-width: 925px)
  .ips-wi
    height 295px

// .mod-shape-4x1
//   width 746px
//   height 100%
//   .ips-wi-title, .ips-wi-stitle
//       max-width 560px
  // .ips-wi-body
  //   position absolute
  //   top 0
  //   left 50%
  //   transform: translateX(-50%)
  //   text-align left
  //   // padding 430px 80px 40px 80px
  //   padding 325px 20px 40px 20px
  //   max-width 600px
  //   width 100%
  //   z-index 1
  //   text-align: center
  //   .ips-wi-title
  //     // max-width 600px
  //     width 100%
  //     font-style normal
  //     font-weight bold
  //     line-height normal
  //     font-size 36px
  //     // line-height 70px
  //     // font-size 60px
  //     margin-bottom 20px
  //   .ips-wi-stitle
  //     // max-width 480px
  //     width 100%
  //     font-style normal
  //     font-weight 500
  //     line-height normal
  //     font-size 16px
  //     // line-height 30px
  //     // font-size 24px
  //     margin-bottom 85px
  //   .ips-wi-cta-w
  //     width 100%
  //     text-align center
  //     .ips-wi-cta
  //       max-width 236px
  //       font-style normal
  //       font-weight bold
  //       line-height 20px
  //       font-size 16px
  //       border 2px solid #ddd
  //       box-sizing border-box
  //       border-radius 6px
  //       z-index 1
  //       cursor pointer
  //       text-align center
  //       /* padding 17px 23px */
  //       padding 23px 23px
  //       background rgba(0, 0, 0, 0)
  //       transition .3s
  //       margin 0 auto
  //       /* border 1px solid green */
  //       &:hover
  //         background rgba(0, 0, 0, 0.3)
  //       .ips-wi-cta-text
  //         position relative
  //         display inline-block
  //         padding-right 43px
  //       .ips-wi-cta-arrow
  //         position absolute
  //         top -2px
  //         right 0

// .ips-wi-v2
//   .ips-wi
//     .ips-wi-body
//       text-align: left
//       .ips-wi-title
//         max-width 600px
//       .ips-wi-stitle
//         max-width 480px


// @media screen and (max-width: 900px)
//   .ips-wi .ips-wi-body
//     padding 430px 40px 40px 40px

// @media screen and (max-width: 1000px)
//   .ips-wi
//     text-align: left
//     min-height calc(100vw / 2)
//     .ips-wi-body
//       max-width: none
//       position: static
//       transform: none
//       text-align: left
//       padding-top 300px
//       .ips-wi-title
//         max-width 600px
//         font-size 24px
//         line-height normal
//       .ips-wi-stitle
//         max-width 480px
//         font-size 16px
//         line-height 22px
//       .ips-wi-cta-w
//         .ips-wi-cta
//           margin 0
//           padding 14px 23px

  // .ips-wi .ips-wi-body .ips-wi-cta-w .ips-wi-cta
  //   margin 0

// div
//   border 1px solid rgba(#ddd, 0.5)
