<button 
  on:click="onclick(event)" 
  class="sf-button sf-button--{ status || 'default' } { embossed ? 'sf-button--embossed' : '' }"
  disabled="{ disabled || false }"
>
  { content }
</button>

<script>
  export default {
    methods: {
      onclick (event) {}
    }
  }
</script>