// html
// body
//     height 100%


// .elpuntodeconnexion
//     height 90vh

// .algoantes
// .algodespues
//     width 100%
//     height 90vh

// .algoantes
//     background-color #842
// .algodespues
//     background-color #248

// .platform-mobile
//     .elpuntodeconnexion
//         height auto

html
    overflow-y scroll

body
    position: relative;
    max-width 1440px
    background-color #CCC