@font-face {
    font-family: 'NotoSans';
    src: url('https://ria.ru/ips/water20/fonts/NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansItalic';
    src: url('https://ria.ru/ips/water20/fonts/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'NotoSerifBold';
    src: url('https://ria.ru/ips/water20/fonts/NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('https://ria.ru/ips/water20/fonts/NotoSerif.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

