@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Thin.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Thin.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ThinItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ThinItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLight.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLightItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Light.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Light.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-LightItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-LightItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Regular.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Italic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Italic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Italic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Medium.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-MediumItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBold.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBoldItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Bold.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-BoldItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-BoldItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBold.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBoldItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}



@font-face {
	font-family: "Montserrat";
  	src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Black.eot');
  	src: url('https://ria.ru/css/fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  		url('https://ria.ru/css/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
  		url('https://ria.ru/css/fonts/montserrat/Montserrat-Black.woff') format('woff'),
  		url('https://ria.ru/css/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
  	font-weight: 900;
  	font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-BlackItalic.eot');
    src: url('https://ria.ru/css/fonts/montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-BlackItalic.woff') format('woff'),
    url('https://ria.ru/css/fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
