@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-thin-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-thin-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-thin-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-thinitalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-thinitalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-thinitalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-thinitalic-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralight-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralight-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralight-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralightitalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralightitalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralightitalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extralightitalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-light-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-light-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-light-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-lightitalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-lightitalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-lightitalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-regular-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-regular-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-regular-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-italic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-italic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-italic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-medium-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-medium-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-medium-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-mediumitalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-mediumitalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-mediumitalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-mediumitalic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibold-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibold-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibold-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibolditalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibolditalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibolditalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-bold-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-bold-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-bold-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-bolditalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-bolditalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-bolditalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabold-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabold-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabold-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabolditalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabolditalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabolditalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}



@font-face {
	font-family: "Montserrat";
  	src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-black-webfont.eot');
  	src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
  		url('https://ria.ru/ips/fonts/Montserrat/montserrat-black-webfont-webfont.woff2') format('woff2'),
  		url('https://ria.ru/ips/fonts/Montserrat/montserrat-black-webfont.woff') format('woff'),
  		url('https://ria.ru/ips/fonts/Montserrat/montserrat-black-webfont.ttf') format('truetype');
  	font-weight: 900;
  	font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-blackitalic-webfont.eot');
    src: url('https://ria.ru/ips/fonts/Montserrat/montserrat-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-blackitalic-webfont-webfont.woff2') format('woff2'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-blackitalic-webfont.woff') format('woff'),
    url('https://ria.ru/ips/fonts/Montserrat/montserrat-blackitalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}





