@font-face
  font-family: DINPro;
  font-weight: normal;
  src: url('https://ria.ru/ips/fonts/DinPro/dinpro-regular.eot');
  src: url('https://ria.ru/ips/fonts/DinPro/dinpro-regular.eot?#iefix') format('embedded-opentype'),
      url('https://ria.ru/ips/fonts/DinPro/dinpro-regular.woff') format('woff'),
      url('https://ria.ru/ips/fonts/DinPro/dinpro-regular.woff2') format('woff2'),
      url('https://ria.ru/ips/fonts/DinPro/dinpro-regular.ttf') format('truetype'),
      url('https://ria.ru/ips/fonts/DinPro/dinpro-regular.svg') format('svg');

@font-face
  font-family: DinPro;
  font-weight: bold;
  src: url('https://ria.ru/ips/fonts/DinPro/DINPro-Bold.eot');
  src: url('https://ria.ru/ips/fonts/DinPro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Bold.woff') format('woff'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Bold.woff2') format('woff2'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Bold.ttf') format('truetype'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Bold.svg') format('svg');

@font-face
  font-family: DinPro;
  font-weight: 900;
  src: url('https://ria.ru/ips/fonts/DinPro/DINPro-Black.eot');
  src: url('https://ria.ru/ips/fonts/DinPro/DINPro-Black.eot?#iefix') format('embedded-opentype'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Black.woff') format('woff'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Black.woff2') format('woff2'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Black.ttf') format('truetype'),
      url('https://ria.ru/ips/fonts/DinPro/DINPro-Black.svg') format('svg');

