@import './text.styl'

colorBeige = #E9DECD

// dev
body
    background-color #CCC
    
@keyframes SlowZoom
    0%
        transform scale(1)
    100%
        transform scale(1.1)
    
.dipp-plants
    *
        box-sizing border-box

    display: flex;
    flex-direction: column;
    
    max-width 1440px
    // max-width 100vw
        
    .gla-cover
        .fader
            opacity 1
            visibility visible
            transition opacity .5s, visibility .5s
            &.vis
                opacity 0
                visibility hidden
        
    .map-pp
        background-color white
        transition background-color .4s
        box-shadow inset 0px 0px 1px 0px #E9DECD
        &:hover
            background-color #E9DECD
            transition background-color .2s
            cursor pointer
        &.active
            background-color #E9DECD
            transition background-color .2s

    .text p
        margin 0
    .text p + p
        margin-top 1em
        
    .over
        z-index 1
        
    .vynos
        overflow hidden
        
    .text_vynos-left
    .text_vynos-right
        position relative
        padding-top 16px
        &:before
            // z-index -1
            content ''
            position absolute
            right 30px
            top -2px
            height 2px
            left 30px
            background-color #8C7F50
    .text_vynos-left
        &:before
            left -100vw
    .text_vynos-right
        &:before
            right -100vw
            
    .map-marks
    .map-marks svg
        height 100%
        max-width 100%
        
    .map-kk
        &.hidey
            opacity 0
            visibility hidden
            transition visibility .5s, opacity .5s
            &.active
                transition visibility .2s, opacity .2s
                opacity 1
                visibility visible
        // &:not(.hidey)
        video
            width 100%
            
    .map-marker
        cursor pointer
        circle
        path
            transition stroke .3s
            transition fill .3s
        &.active
            circle
                fill white
                transition fill .5s
            path
                fill #6A4815        
                transition fill .5s
    
    .btn-2gla
        cursor pointer

    .slider
    .slider-list
    .slider-slide
        outline none

    // .others
    //    padding 0px   
    .others-slide
        cursor pointer
        
    .ctl-btn
        cursor pointer
        &.prev
            transform translate(-48px, -40px)
        &.next
            transform translate(48px, -40px) rotate(1/2turn)
    .btn-close
        cursor pointer
        
    .button
        width 100%
        .buttoncon
            border-radius 2px
            padding 8px 22px
            display block
            width auto
            transition background-color .5s
            cursor pointer

            min-width 204px

            .text
                transition color .5s

            &:hover
                transition background-color .3s
                .text
                    transition color .3s

        &.back
            // margin-top 48px
            .buttoncon
                border 1px solid #8C7F50

            .buttoncon:hover
                background-color #8C7F50
                .text
                    color white

        &.forward
            // margin-top 48px
            .buttoncon
                border 1px solid #1E1E1E

            .buttoncon:hover
                background-color #1E1E1E
                .text
                    color white


.screen-size-regular
.screen-size-small
    // 

.screen-size-small
    // 

.screen-size-mobile

    .dipp-plants
        .slice__container
            flex-direction column
        .column:not(.dir-row)
            for n in (0..12)
                &.{'width-'+n}
                    
                    width 100%
                    margin-left 0
                    margin-right 0
                    flex-direction column
                    // ./slide
                    // .map-kk
                    // min-height 100%
        .ctl-btn
            cursor pointer
            &.prev
                transform translate(0px, -40px)
            &.next
                transform translate(0px, -40px) rotate(1/2turn)
                
        .accordion__panel {
            animation: fadein 0.35s ease-in;
        }

        /* -------------------------------------------------- */
        /* ---------------- Animation part ------------------ */
        /* -------------------------------------------------- */

        @keyframes fadein {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .accordion__heading > div
            outline: none;
        .accord-item
            // background-color white
            position relative
            margin-bottom 2px    
            background-image linear-gradient(to bottom, white 0%, rgba(white, 0) 100%)
            > *
                position relative
            &:before
                content ''
                position absolute
                left 0
                right 0
                top 0
                bottom 0
                opacity 1
                background-color white
                
            &.expanded
                &:before
                    opacity 0
                


        .accord-card
            padding .5em 0 2em 0
            video
                width 100%

// .browser-ie
//     &.ria-width-max
// 	   //
//     &.ria-width-1440

.topline-ria
	//

.inline-ria
    // 

html:not(.inline-ria)
	//
