@import './vars.styl'

.pop-sidebar
    //
    width 40px
    background-color color-popback

    // display flex
    // flex-direction column-reverse
    // justify-content space-between

    .dinnov-text_sidebar
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: color-maria;

        // white-space nowrap
        width 35vh

        // padding-top 80px
        padding-left 0px
        padding-right 0px

        position absolute
        left 20px
        transform-origin 0% 50%

        span+span
            margin-left 10px

        &:first-child
            text-align right
            top 16px
            transform: rotate(-90deg) translateX(-100%);

        &:last-child
            bottom 16px
            transform: rotate(-90deg) translateX(0%);


    .btn-close
        top 50%
        left 50%
        transform translate(-50%, -50%)
        svg
            width 100%
        &:before
        &:after
            content none