@import './vars.styl'

.dpir-innov
    .pop
        position relative
        width 100%
        background-color color-popback
        // display flex
        // flex-direction row
        // > *
        //     display flex
        //     flex-direction column

        .contentcell
            padding-left 40px
    
        .colleft
        .colright
            flex 0 0 auto
        .colleft
            // width 720px
            width 50%
        .colright
            // width calc(100% - 720px)
            width 50%
            // padding-left 40px


    .grback
        background-size 100%
        background-position top center
        background-repeat repeat
        left 40px
        right 0px
        width auto

    .ender
        margin-top 10px
        padding-left 16px
        position relative
        &:after
            content ''
            position absolute
            width 10px
            height 10px
            background-color color-chebo

    .articon
        position relative


    .cover-under
        position relative
        margin-top 30vh
        &:before
            content ''
            position absolute
            left -40px
            top -40px
            right 0px
            bottom -40px
            background-color color-chebo-dark
        .dinnov-text
            position relative


    .popup-cover
        > .overlay
            background-position top center
        .screen-height
            display flex
            flex-direction column
            justify-content center

        .divider
            position relative
            width calc(100% - 80px)
            // margin-left 40px
            margin-left 16px
            margin-top 8px
            margin-bottom 24px
            height 1px
            background-color color-maria

        .toplabel
            max-width 10%
            > *
            svg
                width 100%


    .pic-big
        margin-top 50px
        margin-bottom 50px

        position relative
        padding-right 40px

    .slice.body-block
        position relative
        margin-top 35px

        .pic
            margin-top 25px
            font-size 0

        .pic-mid
            width: 100%;
        .pic-small
            width: 50%;

        // .pic + .dinnov-text
        //     margin-top 8px
        .colleft
            font-size 0px
            // text-align right
            // align-items flex-end
            // align-items flex-start


            .dinnov-text
                padding-right 0px

            >*:first-child
                margin-top 0px
            >*:last-child
                margin-bottom 16px

        .colright
            padding-left 2%
            padding-right: 11%;
            

        &.reversed
            .slice__container
                flex-direction row-reverse

            // .colleft
            //     padding-right 40px
            .colright
                // padding-left 0px
                padding-left: 4%;
                padding-right: 9%;

            .colleft                
                .pic-mid
                    padding-right 40px;

    .slice.quote
        position relative
        margin-top 50px
        margin-bottom 50px

        > .overlay
            right 40px
            width auto
        
        &:before
            content ''
            position absolute
            top 0px
            left 0px
            bottom 0px
            right 40px
            background-color color-maria    
        .slice__container
            max-width (9/12*100)%
        .screen-height
            display flex
            flex-direction column
            justify-content center

    .btn-close
        cursor pointer 
        position absolute
        width 30px
        height 30px
        top 50px
        right 50px
        left auto
        &:before
        &:after
            content ''
            position absolute
            width 20px
            height 2px
            background-color white
            top: 14px;
            left: 4px;
        &:before
            transform rotate(-45deg)
        &:after
            transform rotate(45deg)

