@import './vars.styl'
@import "@ips/app/font-utils.styl"

.dpir-innov
    .dinnov-text
        padding-left 16px
        padding-right 16px
        p
            margin-top 0
            margin-bottom 0
        p + p
            margin-top 1em

    .dinnov-text_popup-cover-desc
        font-family: Montserrat;
        font-size: 48px;
        degradingFontSizeDiscreteAuto(40, 1.333)
        // degradingFontSizeDiscrete(48px, 40px, 32px, 24px)
        line-height: 1.3
        letter-spacing .2px;
        text-transform: uppercase;
        color color-maria

    .dinnov-text_popup-cover-name
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        degradingFontSizeDiscreteAuto(14, 1.1)
        line-height: 139%;
        /* or 19px */
        text-transform: uppercase;
        color color-maria

    .dinnov-text_quote
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        degradingFontSizeDiscreteAuto(28, 1.2)
        line-height: 177.5%;
        /* or 50px */
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

    .dinnov-text_caption

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        degradingFontSizeDiscreteAuto(12, 1.1)
        line-height: 1.4;
        text-align: right;
        color color-maria

    .dinnov-text_popup-head

        font-family: Montserrat;
        font-size: 36px;
        degradingFontSizeDiscreteAuto(36, 1.25)
        line-height: 107.7%;
        font-weight: 700;
        color color-maria
        max-width 95%

        margin-top 64px
        margin-bottom 64px


    .dinnov-text_popup-body
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        degradingFontSizeDiscreteAuto(18, 1.1)
        line-height: 147.72%;
        color color-chebo


        .q
            margin-top 32px
            margin-bottom 32px

            &:first-child
                margin-top 0px

    .dinnov-text_factoid
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        degradingFontSizeDiscreteAuto(18, 1.25)
        line-height: 139%;
        text-align: right;
        color color-maria
        max-width 60%

        margin-top 64px

        position relative
        padding-top 24px
        &:before
            content ''
            position absolute
            top 0px
            right 0px
            width 70%
            height 2px
            background-color color-maria

    .dinnov-text_popup-desc
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        degradingFontSizeDiscreteAuto(12, 1.1)
        line-height: 147.72%;
        color color-chebo
        sup
            margin-right .5em
