@import './vars.styl'
@import "@ips/app/sizer.styl"
@import "@ips/app/font-utils.styl"
@import './font-Noto.styl'


* {
  -webkit-font-smoothing: antialiased;
}

.wtr20
    background-color #F4EDE3
    max-width: 1440px
    width 100%
    // opacity 0
    @media (max-width: 767px)
        overflow-x hidden
    
    // p
    //     margin-block-start: 0em;
    //     margin-block-end: 0em;




.wtr-start
    width 100%
    height 100vh
    display flex
    justify-content center
    align-items center
    background-color #F4EDE3
    font-family 'NotoSans'
    weight 400
    font-style normal
    font-size 16px
    line-height 26px
    color #364659
    min-height 100vh
    position sticky
    bottom 0px
    & span
        width 100%
        max-width 640px

.wtr-start
    @media (max-width: 767px)
        display none




.wtr-folder
    justify-content center !important
    align-items center
    z-index 10
    // margin-bottom 300px
    @media (max-width: 767px)
        margin-bottom 0px


    .wtr-folder-text
        font-family: 'NotoSerifBold';
        font-size 58px
        Line-height 70px
        text-align center
        color: #364659
        background-color #FDE1C8
        display inline-block
        position relative
        padding 22px 50px 22px 50px
        @media (max-width: 767px)
            font-size 50px
            Line-height 60px
            text-align left
            margin-left 25px
            margin-right 25px
            padding 12px 20px 12px 20px
            display none


    .wtr-folder-text[data-id="0"]
        padding-top 30px
        padding-bottom 10px

    .wtr-folder-text[data-id="1"]
        margin-top -10px
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
        padding-top 0px
        padding-bottom 30px


.wtr-folder-text-m
    display none
    position relative
    text-align left
    
    @media (max-width: 767px)
        display flex
        justify-content center
        align-items flex-start
        flex-direction column
        

.wtr-folder-span
    font-family: 'NotoSerifBold';
    font-size 50px
    Line-height 60px
    background-color #FDE1C8
    color: #364659
    display inline-block
    padding-left: 10px
    padding-right 10px
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
    @media (max-width: 374px)
        font-size 40px
        Line-height 50px

.wtr-folder-span[data-id="0"]
    padding-top 10px
.wtr-folder-span[data-id="4"]
    padding-bottom 10px

.wtr-folder-bg
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
    overflow hidden
    @media (max-width: 767px)
        box-shadow: none


.wtr-footer
    background-color #F4EDE3
    padding-top 94px
    font-family 'NotoSans'
    weight 400
    font-style normal
    font-size 16px
    line-height 26px
    color #364659
    @media (max-width: 767px)
        background-color white
        font-size: 16px;
        line-height: 24px;
        padding-top 50px


.wtr-footer-top
    flex-grow 1
    padding-left 40px
    padding-right 40px
    @media (max-width: 767px)
        padding-left 25px
        padding-right 25px


.wtr-footer-bottom
    background-color #A0D9F7
    // color white
    padding-top 31px
    padding-bottom 22px
    // box-shadow: 0px -2px 5px rgba(105, 122, 146, 0.5);
    @media (max-width: 767px)
        padding-top 50px
        padding-bottom 41px
        // box-shadow: 0px -2px 5px rgba(105, 122, 146, 0);

.wtr-footer-pic
    margin-bottom: 70px;
    @media (max-width: 767px)
        margin-bottom: 50px;


.wtr-footer-p
    margin-block-start: 0em;
    padding-left 40px
    padding-right 40px

.wtr-footer-p[data-id="0"]
    @media (max-width: 767px)
        display none
.wtr-footer-p[data-id="1"]
    @media (max-width: 767px)
        display none

.wtr-footer-p[data-id="2"]
    display none
    @media (max-width: 767px)
        display block
        font-weight bold
        font-size 16px
        line-height 26px
        color #364659
        text-align center

        padding-left 25px
        padding-right 25px
    

.wtr-move
    justify-content center
    background-color #F4EDE3
    @media (max-width: 767px)
        opacity 0
    

.wtr-win-column{
    width: 100% !important;
}
.wtr-win-column3,
.wtr-win-column4{
    align-items: flex-end;
}

.wtr-windows
    padding 70px
    pointer-events none
    width calc(100% - 140px)
    width 100%
    padding-top: 50vh;
    overflow hidden
    box-sizing: border-box;
    @media (max-width: 767px)
        padding 0px
        padding-top: 0 !important;
        width 100%
    
// .wtr-windows[data-id="0"] 
//     background-color rgba(256,256,0,0.5)
// .wtr-windows[data-id="1"] 
//     background-color rgba(256,0,256,0.5)

.wtr-window
    background-color white
    padding 30px
    padding-bottom 20px
    margin-top 150px
    margin-bottom 150px
    max-width: 360px
    color #364659
    @media (max-width: 767px)
        max-width none
        margin-top 0px
        margin-bottom 0px
        background-color #F4EDE3
        padding 0


.wtr-window[data-id="3"]
    background-color #FFAC60
    @media (max-width: 767px)
        background-color #9EE4F6;
        display flex
        flex-direction column
        & .wtr-p
            order 10
        




.wtr-window[data-id="4"]
    display none
    @media (max-width: 767px)
        display block
        background-color white
        padding-top 50px
        padding-bottom 50px

.wtr-window[data-id="5"]
    display none
    @media (max-width: 767px)
        display block
        padding-top 0
        // padding-bottom 50px
        
.wtr-window[data-id="6"]
    display none
    @media (max-width: 767px)
        display block
        padding 25px
        padding-top 0
        padding-bottom 50px
       
.wtr-window[data-id="7"]
    background-color white
    padding 30px
    padding-bottom 20px
    margin-top 100px
    margin-bottom 100px
    color #364659
    @media (max-width: 767px)
        max-width none
        margin-top 0px
        margin-bottom 0px
        background-color #F4EDE3
        padding 0
        padding-top 30px


.pic
    padding 10px 0 10px 0
    @media (max-width: 767px)
        padding 0 0 15px 0

.wtr-h1
    font-family: 'NotoSerifBold';
    font-size: 24px;
    line-height: 110%;
    margin-block-start: 0em;
    @media (max-width: 767px)
        padding-left 25px
        padding-right 25px
        margin-bottom: 30px

.wtr-h0
    font-family: 'NotoSerifBold';
    font-size: 28px;
    line-height: 31px;
    margin-block-start: 0em;

.wtr-percent
    padding-top 35px
    margin-bottom 30px
    @media (max-width: 374px)
        & svg
            width 100%
.wtr-p
    font-family: 'NotoSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-block-start: 0em;
    @media (max-width: 767px)
        padding-left 25px
        padding-right 25px
        margin-bottom: 30px

.wtr-p2
    font-family: 'NotoSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-block-start: 0em;
    @media (max-width: 767px)
        padding-left 25px
        padding-right 25px
        margin-top: 30px
        margin-bottom: 30px



.wtr-pv
    font-family: 'NotoSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-block-start: 0em;
    @media (max-width: 767px)
        font-family 'NotoSansItalic'
        font-style: italic;
        padding-left 25px
        padding-right 25px
        margin-bottom: 30px

.wtr-pm
    font-family: 'NotoSans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-block-start: 0em;
    @media (max-width: 767px)
        padding-left 25px
        padding-right 25px
        padding-bottom 0px
        margin-bottom 0

.wtr-imgw
    background-color white
    @media (max-width: 767px)
        padding 25px
        
.wtr-imgm
    display none
    @media (max-width: 767px)
        display block
        padding 25px
        padding-bottom 50px


.wtr-val
    font-family: NotoSerifBold;
    font-size: 24px;
    line-height: 110%;
    @media (max-width: 767px)
        color: #FFAB60;
        padding-left 25px
        padding-right 25px
        margin-bottom: 15px
    & span
        font-size: 80px;
        // opacity: 0
        transform-origin: center center
        // scale: 0.8
        @media (max-width: 767px)
            font-size: 70px;
        @media (max-width: 374px)
            font-size: 60px;

        
.wtr-val[data-id="0"]
    line-height 55px
    margin-bottom: 0.5em;
        
.wtr-alt-p
    color white
    font-family 'NotoSansItalic'
    font-style: italic;
    font-size 14px
    line-height 18px
    margin-top 0px
    @media (max-width: 767px)
        color #364659
        opacity 0.5
        padding-left 25px
        padding-right 25px
        margin-bottom 30px
    
.wtr-alt-p[data-id="6"]
    display none
    




.wtr-navigator{
    position absolute
    right: 30px
    width 10px
    border 1px solid #364659
    border-radius 5px
    height: 80vh
    overflow hidden
    background-color #F4EDE3
}

    .wtr-navigator-waves{
        position relative
        width 100%
        height 100%
        top 0
        left 0
        // background-color #A0D9F7
    }
    
        .wtr-navigator-wave
            position absolute
            width 100px
            height 100%
            top 0
            left 0
            
        .wtr-navigator-wave[data-id="0"]
            top 0
            
            
        .wtr-navigator-wave[data-id="1"]
            top 0
            // left 50px

        .wtr-navigator-wave-svg
                width 100px
                height 19px

        .wtr-navigator-wave-div
                height: 100%
                width 100px
                position absolute
                top 19px

        .wtr-navigator-wave-div[data-id="1"]
                background-color #A0D9F7
                
        .wtr-navigator-wave-div[data-id="0"]
                background-color #6ABFE5
                

.wtr-nav-buttons
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    
    .wtr-nav-btn
        position relative
        height 20%
        width 100%
        cursor pointer


.wtr-bg
    position relative
    .wtr-bg-png
        padding-top 0
        padding-bottom 0
        opacity: 0.0
        max-height 800px
        height 100%
        width 100%

.wtr-bg-png
    & img
        width auto
        height auto
        max-height 100vh
        max-width: 100%


.wtr-parts
    opacity 0
    transition opacity 0.5s ease-out
.wtr-parts-loaded
    opacity 1


.wtr-part
    position absolute
    
.wtr-part[data-id="1"]
    top: 3%;
    left: 34.4%;
.wtr-part[data-id="2"]
    top: 26.5%;
    left: 61.5%;
.wtr-part[data-id="3"]
    top: 59.8%;
    left: 33.9%;
.wtr-part[data-id="4"]
    top: 45.3%;
    left: 4%;
.wtr-part[data-id="5"]
    top: 24.3%;
    left: 4.3%;
    

.wtr-headers
    position absolute
    top 0px
    left 70px
    @media (max-width: 992px)
        top 0px

.wtr-header
    color #364659
    position absolute
    display block
    width 400px
    top 0
    left 0
    font-family: NotoSerifBold;
    font-size: 38px;
    line-height: 42px;
    opacity 0
    transition opacity 0.5s ease-out
    @media (max-width: 992px)
        font-size: 30px;
        line-height: 34px;
        
.wtr-header-current
    opacity 1
    


.wtr-tube
    position absolute
    
.wtr-tube[data-id="1_2"]
    top 5%
    left 0.5%
    
.wtr-tube[data-id="2_3"]
    top 40%
    left 93%
    
.wtr-tube[data-id="3_1"]
    top: -85.5%;
    left: 22.5%;
    
.wtr-tube[data-id="3_4"]
    top 66%
    left 65.5%
    
.fader
    opacity 1
    visibility visible
    transition opacity .5s, visibility .5s
    &.vis
        opacity 0
        visibility hidden